div.admin-page{
    display: flex;
    background-color: rgba(241, 244, 245, 0.979);
 }
 div.admin-page-side-nav-bar{
     min-width: 18.24vw;
 }
 div.admin-page-content-side{
     min-width: 75vw;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 div.admin-side-nav-bar{
     position: fixed;
     height: 100vh;
     width: 18.24vw;
     /* min-width: 18.34vw; */
     background-color: rgba(5, 55, 91, 0.89);
     display: flex;
     flex-direction: column;
 }
 img.admin-side-nav-bar-logo{
     padding: 1.8rem 2rem;
     margin-bottom: 5rem;
     width:18rem;
 }
 div.admin-side-nav-bar-user-profile{
     margin-top:2vh;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
 }
 div.admin-navigations{
     margin: 0.5rem 0rem;
     margin-bottom: 1rem;
     width: 100%;
     display: flex;
     align-items: center;
     cursor: pointer;
 }
 div.admin-navigations-active{
     background-color: rgba(5, 55, 91, 0.94);
     border:none;
 }
 div.admin-navigations:hover{
     background-color: rgba(5, 55, 91, 0.94);
 }
 .admin-nav-icon{
     padding: 1.4rem 0.3rem;
     padding-left: 7rem;
     color: rgb(255, 255, 255,0.6);
 }
 div.admin-navigations:hover .admin-nav-icon{
     color: rgb(255, 255, 255,0.8);
 }
 p.admin-nav-link{
     margin:0;
     padding: 1.4rem 0.2rem;
     font-size: 1.5rem;
     font-weight: 600;
     color: rgb(255, 255, 255,0.7);  
 }
 div.admin-navigations:hover .admin-nav-link{
     color: rgb(255, 255, 255,0.8);
 }
 div.admin-profile-logout{
    position: absolute;
    /* left: 3rem; */
    bottom: 0rem;
    width: 100%;
    gap:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(5, 55, 91, 0.94);
}
.admin-logout-icon{
   color: rgb(255, 255, 255,0.7);  
}
div.admin-profile-logout p{
   margin:0;
   padding: 1.4rem 0.2rem;
   font-size: 1.7rem;
   font-weight: 600;
   color: rgb(255, 255, 255,0.7);  
}