div.admin-page{
    display: flex;
}
div.admin-side-nav-bar{
    height: 100vh;
    width: 18.24vw;
    background-color: rgb(5, 55, 91, 0.95);
    display: flex;
    flex-direction: column;
}
img.admin-side-nav-bar-logo{
    margin-left: 0vw;
    width:18.24vw;
    height: 4.68vh;
    width: 7.72vw;
    margin-top: 2vh;
    margin-left: 1vw;
}
div.admin-side-nav-bar-user-profile{
    margin-top:2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div.admin-profile-pic{
    height: 9.5vh;
    width: 4.41vw;
    color: #359ADE;
    font-size: 2.5vw;
    font-weight: 600;
    background-color: #EFF3F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.admin-user-name{
    margin-top: -0.5;
    font-size: 1.1vw;
    font-weight: 600;
    color: white;
}
p.admin-email{
    margin-top: -2vh;
    font-size: 0.9vw;
    font-weight: 400;
    color: white;
}
div.admin-navigations{
    height:6.9vh;
    width: 14.27vw;
    margin-top: 5vh;
    margin-left:2vw;
    /* background-color: #359ADE; */
    border-bottom: 1px solid rgb(255, 255, 255,0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
}
div.admin-navigations-active{
    background-color: rgb(242, 246, 248,0.25);
    border:none;
    border-radius: 8px;
}
div.admin-navigations:hover{
    background-color: rgb(242, 246, 248,0.25);
    border:none;
    border-radius: 8px;
}
.admin-nav-icon{
    margin-left: 1vw;
    color: rgb(255, 255, 255,0.6);
}
div.admin-navigations:hover .admin-nav-icon{
    color: rgb(255, 255, 255,0.8);
}
p.admin-nav-link{
    margin-left: 1vw;
    font-size: 1.1vw;
    font-weight: 400;
    color: rgb(255, 255, 255,0.7);  
}
div.admin-navigations:hover .admin-nav-link{
    color: rgb(255, 255, 255,0.8);
}