div.footer-content{
    margin-top: 15rem;
    margin-left: 0rem;
    padding: 4rem 8rem;
    max-width: 97.89vw;
    background-color: #05375B;
    display: flex;
    flex-direction: column;
}
div.upper-part{
    display: flex;
    justify-content: space-between;
}
div.intro-part{
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
}
img.footer-logo{
    width: 17.95vw;
}
p.footer-intro-text{
    color: #BCC6CC;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div.footer-links{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
p.footer-link-title{
    color: #EFF3F5;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer-link{
    margin-bottom: 1.4rem;
    color: #BCC6CC;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
div.contact-type{
    margin-bottom: 1.4rem;
    display: flex;
}
p.contact-deatail{
    margin-top: -0.2vh;
    margin-left: 1.3rem;
    color: #BCC6CC;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
div.down-part{
    margin-top: 2.3rem;
    padding: 1.0rem 3rem;
    max-width: 86.9vw;
    background-color: rgba(242, 246, 248, 0.25);
    border-radius: 2.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p.copyright-text{
    color: #F2F6F8;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social-media-icon{
    margin-right: 2rem;
}

