div.edit-course{
    margin: 10rem 0rem;
    margin-left: 5rem;
    width: 75vw;
    display: flex;
    flex-direction: column;
    animation:adminEditCoursesPopUp 0.3s ease-in-out 1;
}
@keyframes adminEditCoursesPopUp {
    from{
        margin-top: 25rem;
        opacity: 0;
    }
    to{
        margin-top: 10rem;
        opacity: 1;
    }
}
div.edit-course-invisible{
    display: none;
}
div.edit-course-path{
    display: flex;
}
p.path-text{
    margin-top: 0;
    font-size: 1.2vw;
    font-weight: 600;
    color: #359ADE;
    cursor: pointer;
}
div.edit-selected-course{
    margin-top: 3vh;
    width: 75vw;
    gap:10rem;
    display: flex;
}
div.edit-course-detail-section{
    display: flex;
    flex-direction: column;
}
div.edit-course-details{
    gap:2rem;
    padding: 2rem 1rem;
    width: 25vw;
    background-color: #FFF;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}
img.edit-course-img{
    height: 36vh;
    width: 25vw;
}
input.edit-course-details{
    padding: 1rem 1.2rem;
    width: 15.92vw;
    font-size: 1.5rem;
    font-weight: 550;
    color: #05375B;
    border-radius: 5px;
    border: 0.1rem solid #359ADE;
    cursor: pointer;
}
input.edit-course-details:focus{
    outline: 2px solid #359ADE;
}
input.edit-course-details::placeholder{
    font-size: 1.5rem;
    font-weight: 550;
    color: #05375B;
}
p.edit-course-name{
    margin-top: 1vh;
    font-size: 1.35vw;
    font-weight: 600;
    color: #05375B;
}
p.edit-course-title{
    margin-top: -3vh;
    font-size: 1.0vw;
    font-weight: 500;
    color: #05375B;
}

div.edit-course-overview{
    margin-top: 5rem;
    width: 35vw;
    gap:2rem;
    display: flex;
    flex-direction: column;
}
p.edit-course-overview-title{
    margin-bottom: 2vh;
    font-size: 1.35vw;
    font-weight: 600;
    color: #05375B;
}
p.edit-course-overview-description{
    margin-top: -2vh;
    font-size: 0.9vw;
    font-weight: 600;
    color: #05375B;
    text-align: justify;
}
textarea.edit-course-overview-description{
    margin-top: 0vh;
    padding: 2rem 2.5rem;
    height: 45vh;
    font-size: 0.9vw;
    font-weight: 600;
    color: #05375B;
    text-align: justify;
    border: none;
}
textarea.edit-course-overview-description:focus{
    outline:#359ADE 2px solid;
}
textarea.edit-course-overview-description::placeholder{
    font-size: 0.9vw;
    font-weight: 600;
    color: #05375B;
}
div.edit-course-sections-part{
    width: 25vw;
    max-height: 70vh;
    padding: 1.5rem 2rem;
    background-color: #FFF;
}
div.edit-course-section-list{
    padding: 2rem 0rem;
    gap:3rem;
    display: flex;
    flex-direction: column;
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
}
div.edit-course-section-list::-webkit-scrollbar {
    width: 5px; 
    height: 15px;
    background-color: #f5f1f1;
  }
  
 
div.edit-course-section-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #359ADE;
  }

p.edit-course-sections-title{
    margin-top: 2vh;
    font-size: 1.7rem;
    font-weight: 600;
    color: #05375B;
}
div.edit-course-section{
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
input.edit-course-section-input{
    width: 20vw;
    padding: 1.4rem 1rem;
    font-size: 1.0vw;
    font-weight: 500;
    color: #16405D;
    background-color: #F2F6F8;
    border-radius: 5px;
    border:none;
}
input.edit-course-section-input:focus{
    outline: 2px solid #359ADE;
}
input.edit-course-section-input::placeholder{
    font-size: 1.0vw;
    font-weight: 500;
    color: #16405D;
}
.admin-courses-edit-delete-btn{
    padding: 0rem 1rem;
    color: #359ade8c;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    transform: scale(0.9);
}
.admin-courses-edit-delete-btn:hover{
    color:#359ade;
    transform: scale(1);
}
div.edit-course-field-handle-btn-container{
    padding: 2.5rem 1rem;
    gap:2rem;
    display: flex;
}
button.edit-course-field-handle-btn{
    padding: 1rem 1.2rem;
    width: 5vw;
    background-color: #359ADE;
    color: #D9D9D9;
    font-size: 0.8vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
div.add-course-section{
    margin-left: 1vw;
}
button.course-edit-save-change-btn{
    position: absolute;
    bottom: -35rem;
    right:9rem;
    padding: 1rem 2.5rem;
    background-color: #359ADE;
    color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.course-edit-save-change-btn:hover{
    color: white;
}
