div.admin-courses-add-new-course{
    margin: 10rem 0rem;
    margin-left: 5rem;
    width: 75vw;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    animation:adminEditCoursesPopUp 0.3s ease-in-out 1;
}
@keyframes adminEditCoursesPopUp {
    from{
        margin-top: 25rem;
        opacity: 0;
    }
    to{
        margin-top: 10rem;
        opacity: 1;
    }
}
div.admin-courses-add-new-course-invisible{
    display: none;
}
input.admin-courses-add-new-course-details{
    padding: 1rem 1.2rem;
    width: 15.92vw;
    font-size: 1.5rem;
    font-weight: 550;
    color: #05375B;
    border-radius: 5px;
    border: 0.1rem solid #359ADE;
    cursor: pointer;
}
input.admin-courses-add-new-course-details:focus{
    outline: 2px solid #359ADE;
}
input.admin-courses-add-new-course-details::placeholder{
    font-size: 1.35vw;
    font-weight: 450;
    color: #05375B;
}
div.edit-course-overview{
    margin-top: 2vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
}
p.edit-course-overview-title{
    margin-bottom: 2vh;
    font-size: 1.35vw;
    font-weight: 600;
    color: #05375B;
}
textarea.admin-courses-add-new-course-overview-description{
    margin-top: 0vh;
    padding: 2rem 2.5rem;
    height: 45vh;
    font-size: 0.9vw;
    font-weight: 600;
    color: #05375B;
    text-align: justify;
    border: none;
}
textarea.admin-courses-add-new-course-overview-description:focus{
    outline:#359ADE 2px solid;
}
textarea.admin-courses-add-new-course-overview-description::placeholder{
    font-size: 0.9vw;
    font-weight: 600;
    color: #05375B;
}
div.admin-courses-add-new-course-section{
    padding: 0rem 0rem;
    display: flex;
    background-color: aqua;
}
div.admin-courses-add-new-course-section input{
    padding-left: 0rem;
}